
.plan-create-completion a {
  text-decoration: none;
  outline: none;
}

.plan-create-completion > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.plan-create-completion > ul > li {
  background-color: var(--background-color);
}

.plan-create-completion > ul > li img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top left;
}

.plan-create-completion > ul > li picture::before {
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, .1) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, .1) 100%);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 2;
}

.plan-create-completion .plan-create-completion-image {
  line-height: 0;
}

.plan-create-completion .plan-create-completion-body {
  margin: 20px;
  width: 40%;
  min-width: 600px;
  border-radius: 8px;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 11;
  background: #ffffff;
  padding: 40px 50px;
  box-sizing: border-box;
}

.plan-create-completion .plan-create-completion-body h3 {
  font-size: 40px;
  margin: 0 0 10px;
  color: var(--dark-color);
}

.plan-create-completion .plan-create-completion-body p {
  margin: 10px 0 15px;
  font-size: 14px;
}



.pcc-container {
  display: block;
  border-top: 1px solid #DEDEDE;
}

.pcc-container .pcc-form {
  display: block;
}

.pcc-form .form-heading {
  font-size: 18px;
  margin: 15px 0 5px;
  line-height: 24px;
  color: var(--dark-color);
  font-family: var(--heading-font-family);
}

.pcc-form .form-subheading {
  font-size: 16px;
  margin: 10px 0;
  line-height: 20px;
  color: var(--dark-color);
  font-family: var(--heading-font-family);
}


.pcc-form .form-group {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}

.pcc-form .field-label {
  display: block;
  font-size: 14px;
  width: 90%;
  padding: 20px 0 5px;
}

.pcc-form .field-text {
  display: block;
  font-size: 14px;
  width: 90%;
  padding: 5px 10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #DEDEDE;
  border-radius: 6px;

}
.pcc-form .form-button {
  display: block;
  background-color: #000000;
  color: #ffffff;
  width: fit-content;
  font-size: 15px;
  padding: 8px 30px;
  border-radius: 40px;
  margin: 15px auto 0;
  text-decoration: none;
  cursor: pointer;
}


.pcc-form .radio-group {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.pcc-form .radio-group .group-label {
  display: block;
  font-size: 14px;
  width: 90%;
  padding: 20px 0 5px;
}
.pcc-form .radio-group .field-label {
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  vertical-align: middle;
}
.pcc-form .radio-group .field-label span {
  display: inline-block;
  font-size: 16px;
  color: var(--dark-color);
}
.pcc-form .radio-group .field-label div {
  display: inline-block;
  font-size: 14px;
  color:var(--text-color);
}


.pcc-form .checkbox-group {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.pcc-form .checkbox-group .field-label {
  display: inline-block;
  font-size: 10px;
  padding: 10px;
  vertical-align: middle;
}


.pcc-form .btn-group-toggle {
  width: 100%;
  padding: 20px 0;
}
.pcc-form input {
  display: none;
}
.pcc-form .radio-select {
  width: 46%;
  margin-right: 4%;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 90px;
  font-family: var(--heading-font-family);
  color: #727272;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 8px;
  color: #222222;
  border: 1px solid #DADADA;
  position: relative;
}
.pcc-form .radio-select.active {
  background-color: #E6E6E6;
  border-radius: 8px;
  color: #B1B1B1;
  border: 1px solid #DADADA;
}

.pcc-form .radio-select.active::after {
  content: "";
  background-image: url("../../icons/green-tick.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display:inline-block;
  position: absolute;
  right: -6px;
  top: -6px;
}


.vopl-container {
  display: block;
  background: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1111;
}
.vopl-container .video-block {
  background-color: #fff;
  padding: 25px;
  width: 75%;
  min-width: 500px;
  margin: auto;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 5%;
  position: relative;
}
.vopl-container .video-block .video-header .video-close {
  font-size: 25px;
  line-height: 20px;
  color: #000000;
  display: inline-block;
  outline: none;
  text-decoration: none;
  float: right;
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 7px;
}
.vopl-container .video-block .video-header video {
  width: 100%;
  height: auto;
}