

.columns-container {
  background-color: #F6F6F6;
  margin: 0;
  padding: 4rem;
}

.columns-container .default-content-wrapper,
.columns-container .columns-wrapper {
  width: 60%;
  margin: auto;
}

.columns-container h1,
.columns-container h2,
.columns-container h3 {
  background-color: #F6F6F6;
  margin: 0;
  padding: 0;
}
.columns-container h3 {
  font-size: 20px;
  margin-bottom: 30px;
}


.columns p {
  font-size: 16px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  font-family: var(--heading-font-family);
}


.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
