.plan-create-opening {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

.plan-create-opening a {
  text-decoration: none;
  outline: none;
}

.plan-create-opening a {
  text-decoration: none;
  outline: none;
}

.plan-create-opening > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.plan-create-opening > ul > li {
  background-color: var(--background-color);
}

.plan-create-opening > ul > li img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top left;
}

.plan-create-opening > ul > li picture::before {
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, .1) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, .1) 100%);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 2;
}

.plan-create-opening .plan-create-opening-image {
  line-height: 0;
}

.plan-create-opening .plan-create-opening-body {
  margin: 20px;
  width: 32%;
  min-width: 525px;
  border-radius: 8px;
  position: absolute;
  top: 15%;
  right: 70px;
  z-index: 11;
  background: #000000;
  padding: 50px;
  box-sizing: border-box;
}

.plan-create-opening .plan-create-opening-body h3 {
  font-size: 23px;
  margin: 10px 0;
}

.plan-create-opening .plan-create-opening-body p {
  margin: 30px 0 0;
  font-size: 18px;
  line-height: 24px;
  font-family: var(--heading-font-family);
}



.pco-container {
  display: block;
}

.pco-container .pco-form {
  display: block;
}

.pco-form .btn-group-toggle {
  width: 100%;
  border-radius: 8px;
  background-color: #292929;
}

.pco-form input {
  display: none;
}

.pco-form .radio-select {
  width: 50%;
  display: inline-block;
  text-align: center;
  font-size: 34px;
  line-height: 70px;
  font-family: var(--heading-font-family);
  color: #727272;
  cursor: pointer;
}

.pco-form .radio-select.active {
  background-color: #35B28C;
  border-radius: 8px;
  color: #ffffff;
}

.plan-create-opening-body .form-button {
  display: block;
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: fit-content;
  font-size: 15px;
  padding: 7px 24px;
  border-radius: 40px;
  margin: 10px 0 40px;
  text-decoration: none;
  cursor: pointer;
}


.plan-create-opening-body .pco-role-select {
  padding-bottom: 10px;
}

.plan-create-opening-body .pco-role-title {
  color: #36B28C;
  padding-bottom: 5px;
}

.plan-create-opening-body .pco-role-text {
  padding-bottom: 10px;
}

.plan-create-opening-body .creator-btn {
  
}



